<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>novoProj</display-name>
    <servlet-name>novoProj</servlet-name>
    <servlet-class>controller.novoProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>novoProj</servlet-name>
    <url-pattern>/novoProj</url-pattern>
  </servlet-mapping>
  <display-name>ProjWeb2V</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NovoProj</display-name>
    <servlet-name>NovoProj</servlet-name>
    <servlet-class>controller.NovoProj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovoProj</servlet-name>
    <url-pattern>/novoproj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServer</display-name>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>controller.LoginServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/loginserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaProjetos</display-name>
    <servlet-name>ListaProjetos</servlet-name>
    <servlet-class>controller.ListaProjetos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProjetos</servlet-name>
    <url-pattern>/listaprojetos</url-pattern>
  </servlet-mapping>
</web-app>